body {
	font-size: 14px;
	font-family: Arial;
}

form {
	border-top: 1px solid #ccc;
	padding: 0;
}

form label {
	cursor: pointer;
	position: relative;
	padding: 4px 0;
}

form dl dt abbr {
	font-weight: bold;
	color: #c00;
	border: none;
	position: absolute;
	top: 2px;
	font-size: 1.4em;
}

form dl {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	margin: 0;
}

form dl.field-error dt {
	color: #c00;
}

form dl dt, form dl dd {
	margin: 0;
	padding: 0;
}

form dl dt {
	float: left;
	width: 120px;
	font-weight: bold;
}

form dl dd {
	margin-left: 140px;
}

form dl dd ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form dl dd .field-errors ul {
	color: #c00;
}

form .submit {
	margin-left: 140px;
	padding: 10px;
}

form input, form select, form textarea {
	width: 350px;
	border: 1px solid #666;
	padding: 4px;
}

form input[type="file"] {
	border: none;
}

form dl.field-error input,
form dl.field-error select,
form dl.field-error textarea {
	border: 1px solid #c00;
}

form ul input, form .submit input {
	width: auto;
	border: 1px solid #006;
	background: #008;
	color: #fff;
	padding: 4px 10px;
}

form .form-date select, form .form-date input {
	width: auto;
}

form .form-date-day,
form .form-date-month,
form .form-date-year {
	margin-right: 5px;
}

form .form-date-min,
form .form-date-sec {
	margin-left: 5px;
}

form .form-date-hour {
	margin-left: 15px;
}