<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="formHandler rules">
            <directory>rules</directory>
        </testsuite>
        <testsuite name="formHandler fields">
            <directory>fields</directory>
        </testsuite>
    </testsuites>
</phpunit>